html, body {
	height: 100%;/*有高justify-content才生效*/
	display: flex;/*设置display: flex 水平垂直才生效*/
	align-items: center;
	justify-content: center;
	background-color: papayawhip;
}

.box {
	width: 200px;
	height: 60px;
	border: 2px solid black;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	font-family: sans-serif;
	overflow: hidden;
}

.box span {
	display: inline-block;
	color: blue;
	transition: 0.5s;/*运动时间 实现动画效果*/
}

.box span:nth-child(odd) {/*奇数 1 3 5*/
	transform: translateY(-100%);/*向上隐藏起来*/
}

.box span:nth-child(even) {
	transform: translateY(100%);/*向下隐藏*/
}

.box span::before {
	content: attr(data-text);/*data-*属性*/
	position: absolute;
	color: red;
}

.box span:nth-child(odd)::before {
	transform: translateY(100%);
}

.box span:nth-child(even)::before {
	transform: translateY(-100%);
}

.box:hover span {
	transform: translateY(0);
}