*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.carousel-container{
    width: 680px;
    height: 344px;
    position: relative;
    margin: 0 auto;
}
.carousel-img-box img{
    display: none;
    position: absolute;
    left:0;
    top:0;
}
.carousel-img-box img.selected{
    display: block;
}
.carousel-tab{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.carousel-tab li,.arrows{
    width: 20px;
    height: 20px;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.carousel-tab li.circle{
    border-radius: 50%;
}
.carousel-tab li.square{
    border-radius: 0;
}
.carousel-tab li.selected{
    background: orange;
}

.carousel-prev-bottom{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.carousel-next-bottom{
    position: absolute;
    left: 35px;
    bottom: 10px;
}

.carousel-prev-center{
    left: 10px;
    top:50%;
    margin-top: -10px;
    position: absolute;
}
.carousel-next-center{
    position: absolute;
    left:650px;
    top:50%;
    margin-top: -10px;
}
