* {
    padding: 0;
    margin: 0;
}
body{
    /*height: 10000px;*/
    /*overflow: hidden;*/
    /*position: relative;*/
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px;
}

.second {
    width: 1230px;
    margin: 0 auto; /*块元素居中*/
    /*background: seagreen;*/
}

/*tmall nav*/
.first {
    background: #f2f2f2;
    height: 33px;
    border-bottom: 1px solid #e5e5e5;
}

.s-second {
    height: 32px;
    line-height: 32px;
    color: #999;
}

.s-login a, .s-login span {
    /*background: #ffffc0;*/
    float: left;
}

.s-login a {
    padding: 0 10px 0 10px;
    color: #999;
    /*background: darkturquoise;*/
}

.s-login a:hover {
    color: #FF0036;
}

.s-login .s-l-btn {
    padding-left: 20px;
}

.s-menu {
    float: right;
    /*background: #fff98e;*/
}

.s-menu-1 {
    float: left;
}

.s-menu-1 > a {
    padding: 0 14px; /*上右下左*/
}

.s-menu-1 a {
    color: #999999;
    display: block; /*让链接和div一样高*/
}

.s-menu-2 {
    position: relative;
}

.s-menu-2:hover {
    background: #fff;
    height: 33px;
}

.s-menu a:hover{
    color: #FF0036;
}
.s-menu-2 a:hover {
    text-decoration: underline;
}

.s-menu-2:hover::after {
    transform: rotate(180deg);
    /*top: 12px;*/
}

.s-menu-2::after {
    border: 3px solid;
    border-color: #999 transparent transparent transparent;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 6px;
    top: 15px;
    transition: all 0.1s linear;
    transform-origin: 3px 1.5px; /*水平 垂直 点为中心旋转*/
}

#s-menu-3 a:hover {
    text-decoration: none;
}

.sub-s-menu {
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    padding: 10px 8px;
    position: absolute; /*相对li定位*/
    left: -1px;
    top: 33px;
    width: 74px;
    display: none; /*隐藏*/
}

.sub-s-menu-1 {
    line-height: 18px;
    height: 18px;
}

.sub-s-menu-1 a {
    color: #999;
}

.s-menu-2:hover .sub-s-menu {
    display: block;
}

.icon-gouwuche-copy,.icon-phone,.icon-liebiao{
    font-size: 14px;
    color: #FF0036;
}

/*tmall nav*/

/*弹层开始*/
/*#mask{*/
    /*position: absolute;*/
    /*background: red;*/
/*}*/


/*弹层结束*/