/*search开始*/
.logo {
    width: 240px;
    height: 130px;
    float: left;
}

.search {
    margin: 38px 0 0 120px;
    float: left;
}

.search-1 {
    width: 625px;
    height: 36px;
    border: 2px solid #FF0036;
}

.search-text {
    width: 491px;
    height: 36px;
    border: none;
    outline: none; /*去掉蓝边*/
    float: left; /*去掉与搜索按钮间的空隙*/
    opacity: 0.5;
}

.search-btn {
    background: #FF0036;
    color: #fff;
    float: left;
    width: 134px;
    height: 36px;
    border: none;
    font-size: 18px;
}

.sub-nav-1 {
    float: left;
    display: inline-block;
    border-left: 1px solid #ccc;
    line-height: 1.1;
    padding: 0 12px;
}

.sub-nav-1 a {
    color: #999;
}

.sub-nav-2 a {
    color: #FF0036;
}

#no-border {
    border-left: 0 solid #ccc;
}

.sub-nav {
    height: 24px;
    font-size: 14px;
    padding: 4px 0 0;
    margin-left: -13px;
}

#second-spe {
    /*margin-top: 130px;*/
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    padding-left: 17px;
    /*background: #fff98e;*/
}

.center-1 {
    margin-left: 215px;
    /*background: #000;*/
}

.img1 {
    width: 100px;
    height: 30px;
    margin-top: 4px;
}

.sub-sub-nav1 {
    float: left;
}

.sub-sub-nav1 a {
    display: block;
    padding: 0 8px;
    color: #000;
    font-size: 16px;
    height: 35px;
    font-weight: 500;
    position: relative;
    /*vertical-align: top;*/
}

/*search结束*/

/*.hover-pic{*/
/*width: 100px;*/
/*height: 0;*/
/*}*/

/*商品列表开始*/
.classify .sub-classify {
    width: 200px;
    float: left;
    height: 36px;
    color: #fff;
    background-color: #FF0036;
    position: absolute;
    z-index: 100;
    margin-top: -37px;
    line-height: 36px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

#border {
    border-bottom: 1.5px solid #FF0036;
}

.classify {
    position: relative;
    margin-left: 23px;
    z-index: 100;
    width: 200px;
}

#sub-sub-classify .sub-sub-classify1 {
    /*position: relative;*/
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
}

.sub-sub-classify1 a {
    color: #fff;
}

.sub-sub-classify1 a:hover {
    color: #ff6a6b;
}

#sub-sub-classify {
    background-color: rgba(0, 0, 0, .55); /*.55透明度*/
    /*width: 200px;*/
    height: 500px;
    position: relative;
}

.sub-sub-classify1:hover {
    background: white;
}

/*.sub-sub-classify1:hover .fir {*/
    /*display: block; !*hover li=sub-sub-classify1显示div=fir*!*/
/*}*/

#sub-sub-classify .sub-sub-classify1:hover>a, #sub-sub-classify .sub-sub-classify1:hover>i {
    color: #ff6a6b;
    font-weight: 700;
}

#sub-sub-classify .sub-sub-classify1-1:hover>a, #sub-sub-classify .sub-sub-classify1-1:hover>i {
    color: #84b5ff;
    font-weight: 700;
}

#sub-sub-classify .sub-sub-classify1 .iconfont {
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    color: white;
    display: inline-block;
    opacity: .5;
}

#title .icon-liebiao {
    margin-left: 14px;
    margin-right: 8px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: white;
    display: inline-block;
}

/*隐藏框开始*/
.fir {
    height: 500px;
    width: 660px;
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    background: #ffffff;
}

.all-p {
    width: 80px;
    padding-top: 13px;
    padding-left: 30px;
    color: black;
    font-weight: 700;
    display: inline-block;
}

.fir-left {
    /*background: #fff98e;*/
    width: 480px;
    /*display: block;*/
    height: 500px;
    float: left;
}

.fir-right {
    width: 160px;
    /*background: darkorange;*/
    /*float: right;*/
    border: 10px solid #fcfcfc;
    float: left;
}

.fir-right .fir-right-1 .sub-fir-right {
    float: left;
}

.sub-fir-right .up {
    width: 80px;
    height: 42px;
    /*display: block;*/
}

.sub-fir-right .down {
    width: 160px;
    height: 54px;
    /*display: block;*/
}

.all-div .all-ul .all-li a {
    color: grey;
    font-weight: 500;
    margin-right: 12px;
}

.all-div .all-ul .all-li-1 a {
    color: #ff6a6b;
}
.sub-sub-classify1-1 .all-div .all-ul .all-li-1 a {
    color: #84b5ff;
}

.all-div {
    width: 470px;
    padding-bottom: 13px;
    float: left;
    border-bottom: 1px dashed #999999;
}

.fir-left .fir-left-1 .all-div .all-ul {
    padding: 20px 0;
    margin-left: 22px;
}

.fir-left .fir-left-1 .all-div .all-ul .all-li {
    float: left;
    height: 20px;
    line-height: 20px;
    display: block;
}

/*隐藏框结束*/

/*商品列表结束*/

/*轮播图开始*/
#container {
    position: relative;
    cursor: pointer;
    height: 500px;
    top: -500px;
    /*background: red;*/
}

#photo .bag {
    position: relative;
    width: 100%;
    z-index: -10;
    display: none;
}

#photo .bag-block {
    display: block;
}

.p-1 {
    background: #fee9ec;
}

.p-2 {
    background: #aa632c;
}

.p-3 {
    background: #ff7b0f;
}

.p-4 {
    background: #d8d8d8;
}

.p-5 {
    background: #8ecee8;
}

.p-6 {
    background: #ff0036;
}

.photo-1-1 {
    margin: 0 auto;
    width: 1230px;
    display: block;
}

.photo-1-1 img {
    width: 1230px;
    height: 500px;
    display: block;
}

#but {
    position: absolute;
    left: 500px;
    top: 460px;
}

#but .but-spe {
    background: #FFF;
}

#but li {
    margin-left: 10px;
    float: left;
    width: 50px;
    height: 5px;
    text-align: center;
    background: #5e5e5e;
    opacity: 0.3;
}

/*轮播图结束*/

/*中间图片链接开始*/
.mid-photo {
    margin-top: -500px;
    /*margin: 0 auto;*/
    background: #f5f5f5; /*灰色背景*/
}

.mid-photo .second-mid {
    /*background: #374380;*/
    position: relative;
}

.mid-photo .second-mid .hidden {
    padding-right: 30px;
    padding-top: 34px;
    width: 1230px;
    /*height: 712px;*/
}

.layer-1 {
    width: 1243px;
    overflow: hidden; /*溢出隐藏*/
}

.layer-1-1, .layer-1-2, .layer-1-3 {
    background: #fff;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #eee;
    position: relative;
    float: left;
    margin-right: 13px;
}

.layer-1-1 .tit {
    width: 234px;
    height: 55px;
    font-size: 0; /*去掉span空隙 父元素加font-size: 0;*/
    /*position: relative;*/
}

.layer-1-2 .tit, .layer-1-3 .tit {
    width: 485px;
    height: 55px;
    font-size: 0;
}

.layer-1-1 .pho img {
    width: 234px;
    height: 316px;
    display: block;
}

.layer-1-2 .pho img, .layer-1-3 .pho img {
    width: 485px;
    height: 316px;
    display: block;
}

.layer-1-1 .pho img:hover {
    opacity: 0.7;
}

.layer-1-2 .pho img:hover, .layer-1-3 .pho img:hover {
    opacity: 0.7;
}

.layer-1-1 .tit .span-1, .layer-1-2 .tit .span-1, .layer-1-3 .tit .span-1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}

.layer-1-1 .tit .span-2, .layer-1-2 .tit .span-2, .layer-1-3 .tit .span-2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}

.layer-1-1 .tit .more, .layer-1-2 .tit .more, .layer-1-3 .tit .more {
    font-size: 16px;
    padding-right: 14px;
    height: 54px;
    line-height: 54px;
    color: #666;
    float: right;
    display: block;
}

.icon-more {
    font-size: 25px;
    vertical-align: middle;
}

.layer-2 {
    margin: 15px auto 0;
    width: 1230px;
}

.layer-2-ul {
    overflow: hidden;
}

.layer-2-ul .layer-2-li {
    float: left;
    width: 122px;
    height: 108px;
    background: #728972;
    display: block;
    position: relative;
    margin-right: 1px;
    margin-bottom: 1px;
}

.layer-2-ul .layer-2-li .img-30 {
    margin: 0 auto;
    text-align: center;
    line-height: 108px;
    display: block;
    background-color: #fff;
}

.layer-2-ul .layer-2-li .img-30 img {
    vertical-align: middle;
}

.layer-2-ul .layer-2-li .a-30 {
    width: 122px;
    height: 108px;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    transition: all .3s ease-out;
    opacity: 0;
}

.layer-2-ul .layer-2-li .a-30 .coupon {
    color: #fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}

.layer-2-ul .layer-2-li .a-30 .coupon span {
    /*display: block;*/
    padding: 0 5px;
}

.layer-2-ul .layer-2-li .a-30 .enter {
    text-align: center;
    height: 32px;
}

.layer-2-ul .layer-2-li .a-30 .enter span {
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px; /*圆角*/
}

.layer-2-ul .layer-2-li:hover .a-30 {
    opacity: 1;
}

/*中间图片链接结束*/

/*超大div开始*/
.second-super {
    overflow: hidden; /*外边距合并*/
}

.second-super .ad {
    margin-top: 10px;
}

.second-super .ad img {
    vertical-align: middle; /*改变图片对齐方式*/
}

.second-super .like {
    padding-right: 30px;
    /*width: 1230px;*/
    margin: 30px auto 0;
    /*background: #81d439;*/
    height: 43px;
}

.second-super .like .guess {
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 24px;
    width: 96px;
}

.second-super .like .guess:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #979797;
    top: 10px;
    right: -38px;
}

.second-super .like .guess:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #979797;
    top: 10px;
    left: -38px;
}

.second-super .like .guess i {
    margin-right: -2px;
    font-size: 20px;
    color: #ff0036;
    position: relative;
    top: 1px;
}

.super-1 {
    margin-top: 20px;
    width: 100%;
    height: 665px;
    padding-right: 30px;
    /*background: #f1fa70;*/
}

.super-1 .super-1-tit .icon-vertical_line {
    background: #EA5F8D;
    margin-left: -22px;
    margin-right: 10px;
    font-size: 17px;
}

.super-1 .super-1-tit .blue {
    background: #0AA6E8;
}

.super-1 .super-1-tit .green {
    background: #00b262;
}

.super-1 .super-1-tit .red {
    background: #F15453;
}

.super-1 .super-1-tit .cyan {
    background: #19C8A9;
}

.super-1 .super-1-tit {
    margin-left: 10px;
    height: 28px;
}

.super-1 .super-1-tit-spe {
    margin-left: 0;
}

.super-1-tit .super-1-tit-bea {
    font-size: 18px;

}

.super-1-tit .super-1-tit-fas {
    font-size: 14px;
    margin-left: 5px;
    line-height: 24px;
    height: 18px;
}

.super-1-tit .super-1-tit-img {
    display: inline-block; /*让两个div在一排*/
    padding-top: 2px;
}

.super-1-tit .super-1-tit-img img {
    width: 214px;
    height: 25px;
    vertical-align: middle; /*对齐下面*/
}

.super-1-tit .super-1-tit-nav {
    float: right;
}

.super-1-tit .super-1-tit-nav a:hover {
    border-color: #000;
}

.super-1-tit .super-1-tit-nav a {
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    display: inline-block; /*?*/
    border-bottom: 1px solid #f5f5f5;
    color: #000;
}

.super-1-pho {
    margin-top: 10px;
}

.super-1-pho .inline-block {
    display: inline-block; /*调皮 第二个super-pho*/
}

.super-1-pho .baby-left {
    width: 235px;
    height: 618px;
    display: inline-block;
    position: relative;
}

.super-1-pho .baby-left-1, .super-1-pho .baby-left-2 {
    height: 301px;
    display: block;
    width: 235px;
}

.super-1-pho .baby-left-1 {
    margin-bottom: 15px;
}

.super-1-pho img:hover {
    opacity: 0.7;
}

.baby-left .baby-left-a .up-pho {
    position: absolute;
    z-index: 100;
    bottom: 20%;
    width: 198px;
    height: 64px;
    /*background: #e54842;*/
}

.baby-left .baby-left-a .up-pho-more {
    position: absolute;
    right: 0;
    bottom: 0;
    /*background: #ff445f;*/
    height: 60px;
    width: 100%
}

.baby-left .baby-left-a .up-pho-more .icon-more-spe {
    font-size: 55px;
    position: absolute;
    bottom: 27px;
    color: #f1f1f1;
    right: 27px;
    width: 32px;
    height: 32px;
    /*background: #879989;*/
}

.baby-left .baby-left-a .up-pho .up-pho-lef {
    background: #171717;
    width: 70px;
    display: inline-block;
    height: 100%;
    padding: 8px 17px;
    box-sizing: border-box;
    font-size: 18px;
    color: #ffffff;
}

.baby-left .baby-left-a .up-pho .up-pho-rig {
    background: #615f5e;
    width: 128px;
    height: 100%;
    float: right;
    padding-top: 8px;
    padding-left: 14px;
    box-sizing: border-box;
    color: #ffffff;
    opacity: 0.8;
}

.baby-left .baby-left-a .up-pho .up-pho-rig div {
    /*background: #e54842;*/
    line-height: 24px;
    height: 24px;
    font-size: 18px;
}

.baby-left-img {
    display: block;
    width: 100%;
    /*position: relative;*/
}

/*.baby-left-img-spe{*/
/*}*/
.super-1-pho .baby-right {
    /*display: inline-block;*/
    float: right;
    /*background: #f1fa70;*/
    width: 995px;
    height: 618px;
}

.baby-right .baby-right-ul .baby-right-li-spe {
    float: left;
    width: 484px;
    height: 302px;
    margin-left: 13px;
    background: #fff;
    padding: 10px 10px;
    box-sizing: border-box;
}

.baby-right .baby-right-ul .baby-right-li-spe-1 {
    width: 233px;
}

.baby-right-ul .baby-right-li {
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
    float: left;
    margin-left: 13px;
    margin-bottom: 15px;
    background: #fff;
    text-align: center; /*居中图片 给父元素设置*/
    position: relative;
}

.baby-right-ul .baby-right-li-spe-2 .import {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 220px;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    text-align: left;
}

.baby-right-ul .baby-right-li-spe-2 .priority {
    position: absolute;
    top: 49px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    color: #7a45e5;
    text-align: left;
}

.baby-right .baby-right-ul .baby-right-li-spe:hover {
    border-color: white;
}

.baby-right-ul .baby-right-li:hover, .hundred .hundred-ul .hundred-li a:hover {
    border-color: #FF0036;
}

.baby-right-ul .baby-right-li:hover img, .hundred .hundred-ul .hundred-li:hover img {
    opacity: 0.7;
}

.baby-right-ul .baby-right-li .shadow {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .09);
    background: #ffffff;
    width: 462px;
}

#shadow-pho {
    width: 462px;
    height: 225px;
}

#shadow-pho .selected {
    display: none;
}

#shadow-pho .shadow-block {
    display: block;
}

#shadow-pho .slogan {
    height: 87px;
    width: 291px;
    position: absolute;
    top: 153px;
    background: url("../img/bg箭头.png");
}

.discount {
    font-size: 20px;
    margin-left: 26px;
    text-align: left;
    color: #000;
    letter-spacing: 1px; /*字符间距*/
    height: 30px;
}

.slogan .slogan-1 {
    margin-left: 26px;
    margin-top: 8px;
    text-align: left;
    height: 36px;
}

#shadow-tit {
    width: 462px;
    height: 57px;
}

#shadow-tit > div {
    height: 57px;
    line-height: 57px;
    font-size: 18px;
    text-align: center;
    float: left;
    width: 231px;
    padding: 0 20px;
    box-sizing: border-box;
    background: #f1f1f1;
    color: #000000;
}

#shadow-tit .today-1 {
    background: #00b262;
    color: #fff;
}

#shadow-pho img {
    height: 200px;
    width: 200px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

#shadow-pho .small-img {
    width: 23px;
    height: 23px;
    margin-top: -10px;
    vertical-align: middle;
    float: none;
    margin-right: 0;
}

.paper {
    font-size: 24px;
    font-weight: 700;
    color: #00B262;
    margin-left: 8px;
    letter-spacing: 1px;
}

.baby-right-li .pro-img {
    width: 185px;
    height: 185px;
    margin-top: 20px;
}

.baby-right-li .pro-img-spe {
    width: 170px;
    height: 170px;
    margin: 90px 33px 42px 32px;
}

.baby-right-li .pro-name {
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
}

.baby-right-li .pro-pri {
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
}

.hundred {
    overflow: hidden;
    width: 1235px;
}

.hundred .hundred-ul .hundred-li {
    float: left;
    width: 239px;
    height: 315px;
    margin-right: 8px;
    margin-bottom: 14px;
    background: white;
    text-align: center;
}

.hundred .hundred-ul .hundred-li a {
    border: 1px solid #fff;
    height: 315px;
    display: block;
}

.hundred-ul .hundred-li .hundred-img {
    width: 185px;
    height: 185px;
    margin-top: 20px;
}

.hundred-ul .hundred-li .hundred-name {
    height: 40px;
    line-height: 20px;
    width: 135px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    margin: 8px auto;
}

.hundred-ul .hundred-li .hundred-pri {
    height: 33px;
    line-height: 22px;
    margin-top: 2px;
    font-size: 18px;
    color: #ff0036;
    text-align: center;
}

.end {
    width: 80px;
    height: 45px;
    margin: 0 auto 10px;
    background: url(../img/end.png) no-repeat;
    background-size: cover; /*铺满*/
}

/*超大div结束*/

/*底部开始*/
.after-sell {
    background: white;
    height: 49px;
    border-top: 1px solid #D1D7DC;
}

.after-sell span {
    margin: 11px auto;
    display: block;
    font-size: 20px;
    color: #81d439;
    text-align: center;
    font-weight: bold;
}

/*底部结束*/

/*右键*/
#ul1 {
    width: 220px;
    border: 1px solid #999;
    /*border-radius: 10px;*/
    list-style: none;
    /*display: none;*/
    position: absolute;
    background: white;
    z-index: 1000;
}

#ul1 li {
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #555;
    font-size: 12px;
}

#ul1 li:hover {
    background: deepskyblue;
    color: #fff;
}

/*右键结束*/














